.loginFormInput{

    display: flex;

    flex-direction: column;

    width: 380px;

}





.loginInput{

    padding: 15px;

    margin: 10px 0px;

    border-radius: 5px;

    border: 1px solid gray;

}



.loginLable{

    font-size: 20px;

    color: gray;

}



.loginSpan{

    font-size: 12px;

    padding: 3px;

    color: red;

    display: none;

}



.loginInput:invalid[focused="true"]{

    border: 1px solid red;

}



.loginInput:invalid[focused="true"] ~ span{

    display: block;

}